@page
@using ZenoDcimManager.Api.Pages.Reports
@model HistoryModel

<h2>Histórico de medições</h2>
<table>
    <thead>
        <tr>
            <th>Tag</th>
            <th>Valor</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Measures != null)
        {
            @foreach (var item in Model.Measures)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Value</td>
                    <td>@item.Timestamp</td>
                </tr>
            }
        }


    </tbody>
</table>
